* {
    padding: 0;
    box-sizing: border-box;
}

header {
    margin: 0;
    max-width: 86%;
    display: flex;
    justify-content: space-between;
}

.high-scores {
    margin-left: 150px;
    max-width: 50%;
}

.timer {
    max-width: 50%;
}

.page-content {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading {
    font-size: 30px;
}

.heading h1 {
    margin-bottom: 10px;
}

.description {
    text-align: center;
    line-height: 1.25;
    font-size: 20px;
}

.start {
    outline: none;
    border: solid 1px black;
    padding: 10px 40px;
    background: rgb(59, 10, 59);
    color: white;
    border-radius: 15px;
}

.start:hover {
    box-shadow: 2px 2px black;
    top: -2px;
    cursor: pointer;
}

.start:active {
    box-shadow: 0 0 black;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}